@model HaloRuns.Models.ViewModels.GamePreference
@section Title { Game Preferences }

<h1>
    GAME PREFERENCES
</h1>
<table style="width:100%">
    <tr>
        <th>
            Games
        </th>
        <th>
            Preference
        </th>
    </tr>

</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('input:checkbox').click(function () {
                const checked = $(this).prop('checked');
                alert($(this).data('routename') + (checked ? " yes" : " no"));
              $.get(checked
                ? '@Url.Action("EnableGamePreference", "ProfileController", new { user = "steve", gamePreference = "h1" })'
                : '@Url.Action("DisableGamePreference", "ProfileController", new { user = "steve", gamePreference = "h1" })',
                null,
                function () {

                })
            });
        });
    </script>
}