@model IEnumerable<HaloRuns.Models.ViewModels.GamePreference>
@section Title { Game Preferences }

<h1>
    GAME PREFERENCES
</h1>
<table style="width:100%">
    <tr>
        <th>
            Games
        </th>
        <th>
            Preference
        </th>
    </tr>

    @foreach (var usersGP in Model)
    {
        <tr>
            <td>
                @usersGP.Game.name
            </td>
            <td>
                <input type="checkbox" @if (usersGP.isPreferred) { <text> checked</text> } data-RouteName="@usersGP.Game.RouteName">
            </td>
        </tr>
    }
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('input:checkbox').click(function () {
                const checked = $(this).prop('checked');
                //$.get(, null, function () {
                alert($(this).data('routename') + (checked ? " yes" : " no"));

                //})
            });
        });
    </script>
}