@model HaloRuns.Models.user

@section title{!!!!!!!!!!!!!!!!!!!!!!!!!!!!!}

<div class="text-center">
    @*<h1 class="display-4">Favorite Game: @Model.Game.name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    *@
</div>
